.navbar {
    background-color: rgb(28, 28, 28);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand-text {
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-logo {
    height: 30px;
    margin-right: 10px;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-link {
    color: white;
    text-decoration: none;
}

.navbar-link:hover {
    text-decoration: underline;
}